In [140]:
import pandas as pd

In [141]:
dataset=pd.read_csv(r"C:\Users\wwrao\Downloads\Anomalous_Dataset.csv")
dataset.head(10)

   ID     Name    Age         City     Salary Joined_Date Target
0   1    Alice   25.0     New York    50000.0  2024-01-10    Yes
1   2      Bob   30.0     new york    60000.0  10-01-2024     No
2   3  Charlie   -1.0           NY    55000.0         NaN    Yes
3   4      NaN   40.0  Los Angeles    70000.0  2023/12/15    Yes
4   4  Charlie   40.0           NY        NaN  2023/12/15    Yes
5   5      Eve    NaN      Chicago    58000.0  2024-02-20     No
6   6    Frank   33.0          NaN    61000.0  2024-03-01    Yes
7   7    Grace  200.0      Houston  1000000.0  Not a date    Yes
8   8     Hank   29.0      Seattle    57000.0  2024-01-25     No
9   9    Alice   31.0      Seattle    56000.0  2024-01-30     No

In [142]:
dataset.isnull().sum()

ID             0
Name           1
Age            1
City           1
Salary         1
Joined_Date    1
Target         0
dtype: int64

In [143]:
dataset.duplicated().sum()

0

In [144]:
dataset.shape

(10, 7)

In [145]:
dataset['City'] = dataset['City'].fillna('Lahore')

In [146]:
dataset["City"].isnull().sum()

0

In [147]:
dataset.fillna(dataset["Salary"].median(),inplace=True)
dataset.fillna(dataset["Age"].median(),inplace=True)

In [148]:
dataset["Salary"].isnull().sum(),dataset["Age"].isnull().sum()

(0, 0)

In [149]:
dataset['Joined_Date'] = dataset['Joined_Date'].fillna('1900-01-01')
dataset.loc[7, 'Joined_Date'] = "2006-01-01"
dataset['Joined_Date'][7]

'2006-01-01'

In [150]:
dataset.drop(columns=["Name"],axis=1,inplace=True)

In [151]:
dataset.isnull().sum()

ID             0
Age            0
City           0
Salary         0
Joined_Date    0
Target         0
dtype: int64